<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
    <div>

        <div id="menu">
            <a href="/vacancies">Vacancies</a><span>&emsp;</span>
            <a href="/employers">Employers</a><span>&emsp;</span>
            <a href="/applicants">Applicants</a><span>&emsp;</span>
            <hr/>
        </div>

        <h3>Registration</h3>

        <div id="form">
            <form method="POST" action="/auth/register">
                <div>
                    <label for="name">Name</label>
                    <input id="name" name="name" value="{{user.getName}}"/>
                    <div>{{#errors}}{{#name}}<div style="color:red">{{.}}</div>{{/name}}{{/errors}}</div>
                </div>
                <div>
                    <label for="email">Email</label>
                    <input id="email" name="email" value="{{user.getEmail}}"/>
                    <div>{{#errors}}{{#email}}<div style="color:red">{{.}}</div>{{/email}}{{/errors}}</div>
                </div>
                <div>
                    <label for="password">Password</label>
                    <input id="password" type="password" name="password" value="{{user.getPassword}}"/>
                    <div>{{#errors}}{{#password}}<div style="color:red">{{.}}</div>{{/password}}{{/errors}}</div>
                </div>
                <br/>
                <div>
                    <button type="submit">Register</button>
                </div>
            </form>
        </div>

        <div id="links">
            <p>Or you can <a href="/auth/login">log in</a></p>
        </div>

    </div>
</body>
</html>