<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>employer :: {{employer.getName}}</title>
</head>
<body>
    <div>

        <div>
            <a href="/users/my-page">My page</a><span>&emsp;</span>
            <a href="/vacancies">Vacancies</a><span>&emsp;</span>
            <a href="/employers">Employers</a><span>&emsp;</span>
            <a href="/applicants">Applicants</a><span>&emsp;</span>
            <br/>
            {{#currentUser}}
                <br/>
                <form method="POST" action="/auth/logout">
                    <button type="submit">Log out</button>
                </form>
            {{/currentUser}}
            {{^currentUser}}
                <a href="/auth/login">Login</a><span>&ensp;</span>
                <a href="/auth/register">Register</a>
            {{/currentUser}}
            <hr/>
        </div>

        <div>
            <h4>Employer</h4>
            <p>Name: <span>{{employer.getName}}</span></p>
            <hr/>
        </div>

        <div>
            {{#isCurrentEmployer}}
                <a href="/employers/{{{employer.getId}}}/edit">Edit</a>
                <hr/>
            {{/isCurrentEmployer}}
        </div>

        <div>
            <p>Vacancies:</p>
            <div>
                {{#isCurrentEmployer}}
                    <b><a href="/vacancies/new">Add new vacancy</a></b>
                    <br/>
                    <br/>
                {{/isCurrentEmployer}}
            </div>
            {{#employer.getVacancies}}
                <div>
                    <a href="/vacancies/{{{getId}}}">{{getTitle}}</a>
                    <br/>
                </div>
            {{/employer.getVacancies}}
        </div>

    </div>
</body>
</html>