<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>editing employer :: {{employer.getName}}</title>
</head>
<body>
    <div>

        <div>
            <a href="/users/my-page">My page</a><span>&emsp;</span>
            <a href="/vacancies">Vacancies</a><span>&emsp;</span>
            <a href="/employers">Employers</a><span>&emsp;</span>
            <a href="/applicants">Applicants</a><span>&emsp;</span>
            <br/>
            {{#currentUser}}
                <br/>
                <form method="POST" action="/auth/logout">
                    <button type="submit">Log out</button>
                </form>
            {{/currentUser}}
            {{^currentUser}}
                <a href="/auth/login">Login</a><span>&ensp;</span>
                <a href="/auth/register">Register</a>
            {{/currentUser}}
            <hr/>
        </div>

        <h3>Editing employer - '{{employer.getName}}'</h3>

        <div>
            <form method="POST" action="/employers/{{{employer.getId}}}">
                <div>
                    <label for="name">Name</label>
                    <input id="name" name="name" value="{{employer.getName}}"/>
                    <div>{{#errors}}{{#name}}<div style="color:red">{{.}}</div>{{/name}}{{/errors}}</div>
                </div>
                <br/>
                <div>
                    <button type="submit">Update employer</button>
                </div>
            </form>
            <hr/>
        </div>

    </div>
</body>
</html>