<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vacancies</title>
</head>
<body>
    <div>
        <div id="menu">
            <a href="/users/my-page">My page</a><span>&emsp;</span>
            <a href="/vacancies">Vacancies</a><span>&emsp;</span>
            <a href="/employers">Employers</a><span>&emsp;</span>
            <a href="/applicants">Applicants</a>
            <br/>
            {{#currentUser}}
                <br/>
                <form method="POST" action="/auth/logout">
                    <button type="submit">Log out</button>
                </form>
            {{/currentUser}}
            {{^currentUser}}
                <a href="/auth/login">Login</a><span>&ensp;</span>
                <a href="/auth/register">Register</a>
            {{/currentUser}}
            <hr/>
        </div>
        <div id="list">
            <h4>Vacancies</h4>
            <div>
                {{#filter}}
                    <h5>{{filter}}:</h5>
                {{/filter}}
                {{#employer}}
                    <p>By employer: <a href="/employers/{{{getId}}}">{{getName}}</a></p>
                {{/employer}}
            </div>
            {{#vacancies}}
            <div>
                <a href="/vacancies/{{{getId}}}">{{getTitle}}</a>
                <br/>
            </div>
            {{/vacancies}}
            <hr/>
        </div>
        <div id="management-links">
            {{#currentEmployer}}
                <a href="/vacancies/new">Add new vacancy</a>
            {{/currentEmployer}}
        </div>
    </div>
</body>
</html>