<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Applicants</title>
</head>
<body>
    <div>
        <div>
            <h4>Applicants</h4>
            {{#applicants}}
            <div>
                <a href="/applicants/{{{getId}}}">{{getFullName}}</a>
                <br/>
            </div>
            {{/applicants}}
            <hr/>
        </div>
        <div>
            {{^currentApplicant}}
                <a href="/applicants/new">Add new</a>
            {{/currentApplicant}}
        </div>
    </div>
</body>
</html>