<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Applicants</title>
</head>
<body>
    <div>
        <div id="menu">
            <a href="/users/my-page">My page</a><span>&emsp;</span>
            <a href="/vacancies">Vacancies</a><span>&emsp;</span>
            <a href="/employers">Employers</a><span>&emsp;</span>
            <a href="/applicants">Applicants</a>
            <br/>
            {{#currentUser}}
                <br/>
                <form method="POST" action="/auth/logout">
                    <button type="submit">Log out</button>
                </form>
            {{/currentUser}}
            {{^currentUser}}
                <a href="/auth/login">Login</a><span>&ensp;</span>
                <a href="/auth/register">Register</a>
            {{/currentUser}}
            <hr/>
        </div>
        <div id="list">
            <h4>Applicants</h4>
            {{#applicants}}
            <div>
                <a href="/applicants/{{{getId}}}">{{getFullName}}</a>
                <br/>
            </div>
            {{/applicants}}
            <hr/>
        </div>
        <div id="management-links">
            {{^currentApplicant}}
                <a href="/applicants/new">Add new</a>
            {{/currentApplicant}}
        </div>
    </div>
</body>
</html>